body .container section {
	padding-bottom: 15px;
}

table {
	margin-left: auto;
	margin-right: auto;
}

table.register {
	width: 65%;
}

select {
	margin-top: 3px;
	margin-left: 10px;
}

input[type="submit"] {
	margin-bottom: 20px;
	width: 65%;
}

.alert {
	display: none;
	margin-bottom: 0px;
}