body {
	padding-bottom: 30px;
	background: #3E312A;
    font-size: 15px;
}

body .container section {
	text-align: center;
	min-height: 220px;
	margin-top: 50px;
	padding: 30px;
	background: #E0E0E1;
	box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 1);
}

input[type="text"] {
	outline: none;
	padding-left: 10px;
	margin-left: 10px;
	height: 40px;
	font-weight: normal;
	border: 2px solid #E0E0E1;
	transition: border 0.4s;
}

.container section form input[type="text"]:focus {
	border: 2px solid #6B4BFF;
	box-shadow: inset 0 0 0 0px grey;
	transition: border 0.4s;
}

h3 {
	margin-bottom: 15px;
}

p {
	margin-bottom: 0px;
}

input[type="submit"] {
	outline: none;
	border: none;
	width: 55%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 6px 10px 6px 10px;
	font-size: 18px;
	color: white;
	background: #441BFD;
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
	transition: background 0.4s, box-shadow 0.4s;
}

input[type="submit"]:hover {
	background: #1E00A2;
	box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.75);
	transition: background 0.4s, box-shadow 0.4s;
}

input[type="submit"]:active {
	background: #1E00A2;
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
	transition: background 0s, box-shadow 0s;
}

body .container section form input[type="text"]:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 60px white inset;
}

body .container section form input[type="text"]:-moz-autofill {
	-moz-box-shadow: 0 0 0px 60px white inset;
}

.alert-info {
	background: #3390FF;
}

.alert-danger {
	background: #FF3521;
}